@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-color: rebeccapurple; */
  /* scrollbar-width: none; */
  /* &::-webkit-scrollbar {
    display: none;
  } */
}
@keyframes animate {
  to {
    transform: translateY(20px);
  }
}

li {
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
}
li:after {
  position: absolute;
  top: 0;
  left: 0;
  color: palevioletred;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
}

li:hover:after {
  animation: moveText 0.5s linear both;
}
@keyframes moveText {
  to {
    width: 100%;
  }
}
